.Primary {font-size: .71429rem;
color: #2e2e2f;
text-align: left;
margin-right: auto;
margin-top: 2px;
justify-content: flex-start;
font-weight: 700;}
.TableH{
    padding: 0 0 6px 5px;
    font-weight: 600;
    font-size: .64286rem;
    color: #6a6a6c;
    border-bottom: 1px solid #e1e1e1;
    letter-spacing: .025em;
    text-transform: uppercase;
    text-align: right;
    vertical-align: bottom;
    display:flex;    
    align-items:center;
}